beautifulsoup4==4.13.5
blurhash==1.1.5
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
csv-diff==1.2
decorator==5.2.0
dictdiffer==0.9.0
exceptiongroup==1.3.0
html-to-csv @ git+https://github.com/hanwentao/html2csv@fc27e30c90bc557ae812876d0d8c5514053128a5
idna==3.10
iniconfig==2.1.0
lxml==6.0.1
Mastodon.py==2.1.2
packaging==25.0
pluggy==1.6.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-magic==0.4.27
requests==2.32.5
six==1.17.0
soupsieve==2.8
tomli==2.2.1
urllib3==2.5.0
