beautifulsoup4==4.12.3
blurhash==1.1.4
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
csv-diff==1.2
decorator==5.1.1
dictdiffer==0.9.0
exceptiongroup==1.2.2
html-to-csv @ git+https://github.com/hanwentao/html2csv@fc27e30c90bc557ae812876d0d8c5514053128a5
idna==3.10
iniconfig==2.0.0
lxml==5.3.0
Mastodon.py==1.8.1
packaging==24.2
pluggy==1.5.0
pytest==8.3.4
python-dateutil==2.9.0.post0
python-magic==0.4.27
requests==2.32.3
six==1.16.0
soupsieve==2.6
tomli==2.1.0
urllib3==2.2.3
